* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

.main {
    width: 320px;
    height: 620px;
    margin: 20px auto 0;
    border: 10px solid #FFFFFF;
    font-size: 0;
}

.cell {
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    display: inline-block;
}

.movingCell {
    background-color: #0000FF;
}

.fixedCell {
    background-color: #00FF00;
}